# Note this requirements file is only used by sphinx. For regular installations, 
# see the setup.py file.
authlib==1.8.0
Flask==3.0.3
httpx==0.28.1
multiprocess==0.70.16
prompt_toolkit==3.0.43
psutil==5.9.8
sphinx-rtd-theme==2.0.0
websockets==17.1
